$theme-colors: (
	"primary" :#1c2135,
	"secondary" : #fbc265,
	"info" : #EAD2AC,
	"dark" : #222,
	"primlite" : lighten(#1c2135,2%),
	"darklite" : lighten(#222,2%)
);

$primary-color: #1c2135;
$secondary-color: #fbc265;


// navy blue : #000721
// burgundy : #840032
// desert sand : #EAD2AC

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$header-font: "Raleway", sans-serif;
$normal-font: "Merriweather", serif;

@import '../node_modules/bootstrap/scss/bootstrap';



html {
	overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Raleway', ;
}



.tools {
	font-size : 5rem;
	margin: 5px;

}
.tools:before {
	text-align: center;
    display: block;
    width:100px;
}
nav {
	border-bottom: 2px solid #fbc265;
}

.fa-arrow-down {
	font-size : 3rem;
	color : gray;
	transition: color 0.2s ease-in-out;
	&:hover {
		color : #fbc265;
	}
}

.fa-html5 {
	color : orangered;
}

.fa-css3-alt {
	color : royalblue;
}

.fa-bootstrap {
	color : purple;
}

.fa-git-alt {
	color : orangered;
}

.fa-js-square {
	color : orange;
}

.fa-node {
	color : yellowgreen;
}

.fa-laravel {
	color : red;
}

.fa-react {
	color : mediumturquoise;
}

.fa-database {
	color : royalblue;
}

.fa-php {
	color : royalblue;
}

.fa-sass {
	color : orchid;
}

#headBanner {
	height: calc(100vh);
	background-image: url("./../images/myBg1.png");
	 background-attachment: fixed;
  background-size: cover;
  display : flex;
  justify-content: center;
  align-items: center;
  .banner-flavor {
  	color: white;
  }
}



#aboutMe, #myWork {
	min-height: 100vh;
	padding-top: 112px !important; 
}


.nav-link {
	font-weight: bold;
}

#navBtn {
	transition: 0.5s ease-out;

}


#navBtn .btn-line {
	width: 28px;
	height: 2px;
	margin: 6px 0;
	background: #fff;
	transition: 0.5s ease-out;
}

#navBtn.close {
	transform: rotate(180deg);
	padding: 4px 12px;
	margin-top: 9px;


}

#navBtn.close .btn-line:nth-child(1) {
	transform: rotate(45deg) translate(6px, 6px);
  }
  #navBtn.close .btn-line:nth-child(2) {
	display: none;
  }
  #navBtn.close .btn-line:nth-child(3) {
	transform: rotate(135deg);
  }

#aboutMeBtn, #myWorkBtn, #homeBtn {
	border: 0;
	padding: 0;
	background-color: transparent;
	color: #ddd;
	font-weight: bolder;
	transition: color 0.3s ease-in-out;
	&:hover {
		color : #fbc265;
	}
	&:focus {
		outline: 0;
	}
}

.contactLink {
	color : $secondary-color;
	transition: color 0.3s ease-in-out;

	&:hover{
		color : darken($secondary-color,15%);
	}
}



h3 {
	font-weight: bolder;
}